{% extends "parts/layout.html" %}
{% block body %}
<div class="l_000">
    <h1 class="p_002 b_002 c_b_011 c_c_001">Password Change</h1>
    <form action="{{ '' | getenv('SITE_URL') }}/password/change/post" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="token" value="{{ data.token }}">
        <input type="password" class="p_005 b_002" name="password" placeholder="New Password">
        <input type="submit" class="p_004 b_002 c_b_001 c_c_001" value="Update">
    </form>
    {% if data.error %}
    <p class="p_003 b_002 c_c_001 c_b_005">{{ data.error }}</p>
    {% endif %}
</div>
{% endblock %}
