{% extends "parts/layout.html" %}
{% block body %}
<div class="l_000">
    <h1 class="p_002 b_002 c_b_011 c_c_001">Account</h1>
    {% include "parts/menu.html" %}
    <ul class="l_005 icons">
        <li><a href="/mypage/account/icon">Icon</a></li>
        <li><a href="/mypage/account/name">Name</a></li>
        <li><a href="/mypage/account/email">Email</a></li>
        <li><a href="/mypage/account/password">Password</a></li>
        <li><a href="/mypage/account/delete">Delete</a></li>
    </ul>
</div>
<div class="l_002 _1">
    <a href="/logout" class="p_009 c_c_003 i_0004 icon"></a>
</div>
<div class="l_002">
    <a href="/topics" class="p_009 c_c_003 i_0003 icon"></a>
</div>
{% endblock %}
