{% extends "parts/layout.html" %}
{% block body %}
<div class="l_000">
    <h1 class="p_002 b_002 c_b_011 c_c_001">Topics Edit</h1>
    {% include "parts/menu.html" %}
    <form action="{{ '' | getenv('SITE_URL') }}/mypage/topics/edit/{{ data.topic.topicuuid }}?detail={{ data.back }}" name="form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="b_002 c_b_012">
            <textarea class="p_008" name="topic">{{ data.topic.topic }}</textarea>
        </div>
        {% if False %}
        <input id="image" type="file" class="p_5000" name="image" accept="image/*">
        {% endif %}
        <input type="submit" class="p_004 b_002 c_b_001 c_c_001" value="Update">
    </form>
    <script src="/assets/js/autosize.min.js"></script>
    <script> autosize(document.querySelectorAll('textarea')); </script>
    {% if data.error %}
    <p class="p_0005">{{ data.error }}</p>
    {% endif %}
    <p class="p_001 b_002 c_c_001 c_b_002">
        <a href="/topics/{{ data.topic.topicuuid }}">Show Topic</a>
    </p>
    <p class="p_001 b_002 c_c_001 c_b_004">
        <a href="/mypage/topics">Back</a>
    </p>
    <p class="p_001 b_002 c_c_001 c_b_005">
        <a href="/mypage/topics/delete/{{ data.topic.topicuuid }}">Delete</a>
    </p>
</div>
<div class="l_002 _1">
    <a href="/logout" class="p_009 c_c_003 i_0004 icon"></a>
</div>
<div class="l_002">
    <a href="/topics" class="p_009 c_c_003 i_0003 icon"></a>
</div>
{% endblock %}
